body{
  margin: 0;
  padding:0;
  color: white;
  font-family: 'Quicksand', sans-serif;

}
#kupa{
  font-size: 70px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}